/* Create a Web page for Contact Tracing:  
1) 11 rows and 6 columns.  
2) The table header:  
 - #  
 - Lastname  
 - Firstname  
 - Sex (M/F)  
 - Age  
 - Contact #)  
  
3) Add zebra-stripes.  
4) Add hover effect.  
5) Use contextual classes. */

:root {
  --ff-primary: 'Inter', sans-serif;
  --clr-primary: #36304a;
  --clr-light: #fff;
  --clr-dark: #111;
  --clr-secondary: #f5f5f5;

  --text-secondary: #999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--clr-dark);
  display: grid;
  place-items: center;
  padding: 90px 0;
}

.contact-listing-form {
  background: var(--clr-light);
  color: var(--clr-dark);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-x: auto;
  /* Enable horizontal scrolling on smaller screens */

  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.contact-listing-form__heading,
.contact-listing-form__sub-heading {
  margin: 0.3em 0;
}

.contact-listing-form__sub-heading {
  font-size: 1rem;
  font-weight: 400;
}


.table {
  display: flex;
}

.table__head .table__row .table__header,
.table__body .table__row {
  /* background-color: var(--clr-primary) !important;
  color: var(--clr-light); */
  display: flex;
  flex-direction: column;
}

.table__body .table__row .table__data {
  color: red;
  width: 100%;
}

.table__header {
  padding: 1em 3em;
}

.table__data {
  padding: 1em;
  text-align: center;
  color: var(--text-secondary);
  width: 100%;
}